@implements IItems
@inherits WpfStyleBase
<div @key="id" style="overflow: auto;@Style">
    @foreach (var item in Items)
    {
        <div id="@item">@item</div>
    }
</div>
@code {

    private string id => Guid.NewGuid().ToString();

    public class MySelectModel
    {
        public int MyValueField { get; set; }
        public string MyTextField { get; set; }
    }

    public List<string> Items { get; set; } = new List<string>();

    public void AddItem(string s)
    {
        Items.Add(s);
        StateHasChanged();
    }
}
